<% include ./partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

<link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&amp;subset=latin-ext" rel="stylesheet">

    

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" href="/back">WSTECZ</a>
        </li> -->
        
        <li class="nav-item">
          <a class="nav-link" href="/posts/all/24h/1">24h</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts/all/48h/1">48h</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts/all/72h/1">72h</a>
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0" id="searchForm" action="/posts/find" method="POST">
        <input class="form-control mr-sm-2" type="search" placeholder="SZUKAJ" aria-label="Search" name="toFind">
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SZUKAJ</button> -->
      </form>
      <ul class="navbar-nav">
        <% if (!currentUser) {%>
          <li class="nav-item">
            <a href="/users/login" class="btn btn-light">LOG/REJ</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <img src="<%= currentUser.image%>" class="little-image">
          </li>
          <li class="nav-item">
            <p class="nick"><%= currentUser.username%></p>
          </li>
          <!-- <li class="nav-item">
            <a href="/users/logout" class="btn btn-light">WYLOGUJ SIĘ</a>
          </li> -->
          
          <li class="nav-item dropdown">
            <a class="dropdown-toggle btn btn-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/users/logout">Wyloguj</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/posts/fav">Ulubione</a>
              <div class="dropdown-divider"></div>
              <a href="/users/details/<%= currentUser._id%>/dodane" class="dropdown-item">Moje konto</a>
              <div class="dropdown-divider"></div>
              <a href="/posts/new" class="dropdown-item" id="dodaj">DODAJ</a>
            </div>
          </li>
        <% } %>
      </ul>
      
    </div>
  </div>
</nav>









<div class="container" id="mainContainer">
  <div class="container" id="menuContainer">
      <div class="table-responsive">
        <table class="table">
            <tr>
              <% for(var i=0;i<categories.length;i++) {%>
                <th><a href="/posts/<%= categories[i].name%>/alltime/1"><%= categories[i].text.toUpperCase()%></a></th>
              <% } %>
            </tr>
        </table>
      </div>
  </div>

  <% include ./partials/flash %>

 

  <div class="row" style="margin-top: 5px;">

     <% if(posts && posts.length > 0) { %>

        <div class="col-sm-12">
           <div class="card" id="headerCard">
            <div class="row">
                <div class="col-md-8">
                    <img src="<%= posts[0].image%>" class="card-img-left" id="bigpic">
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                      <h3 class="card-title">
                        <span id="<%= posts[0]._id%>" class="punkty"><%= posts[0].points%></span>
                        <a href="/posts/details/<%= posts[0]._id%>"> <%= posts[0].title%> </a>
                      </h3>
                      
                      <p id="authorAndDate">
                        Dodano przez: <a href="/users/details/<%= posts[0].author.id%>/dodane"><%= posts[0].author.username%></a>
                        <span style="float: right;">
                          <%= (Math.round((Date.now() -  posts[0].date)/36e5))%> godzin temu
                        </span>
                      </p>
                      <p class="card-text"><%= posts[0].description.substring(0,150)%></p>
                      
                      <div class="panel">
                        <% var upExists = false;%>
                        <% var downExists = false;%>
                        <% for(var j=0;j<posts[0].upvoters.length;j++) { %>
                          <% if(currentUser && posts[0].upvoters[j].equals(currentUser._id)) { %>
                            <% upExists = true%>
                          <% } %>
                        <% } %>
                        <% for(var j=0;j<posts[0].downvoters.length;j++) { %>
                          <% if(currentUser && posts[0].downvoters[j].equals(currentUser._id)) { %>
                            <% downExists = true%>
                          <% } %>
                        <% } %>
                        <% if(upExists && !downExists) { %>
                          <span data-toggle="tooltip" data-placement="bottom" title="Polecam" id="<%= posts[0]._id%>" class="ikony voteUp clicked"><i class="fa fa-arrow-up"></i></span>
                          <span data-toggle="tooltip" data-placement="bottom" title="Słabe" id="<%= posts[0]._id%>" class="ikony voteDown"><i class="fa fa-arrow-down"></i></span>
                        <% } else if(!upExists && !downExists) { %>
                          <span data-toggle="tooltip" data-placement="bottom" title="Polecam" id="<%= posts[0]._id%>" class="ikony voteUp"><i class="fa fa-arrow-up"></i></span>
                          <span data-toggle="tooltip" data-placement="bottom" title="Słabe" id="<%= posts[0]._id%>" class="ikony voteDown"><i class="fa fa-arrow-down"></i></span>
                        <% } else if(!upExists && downExists) { %>
                          <span data-toggle="tooltip" data-placement="bottom" title="Polecam" id="<%= posts[0]._id%>" class="ikony voteUp"><i class="fa fa-arrow-up"></i></span>
                          <span data-toggle="tooltip" data-placement="bottom" title="Słabe" id="<%= posts[0]._id%>" class="ikony voteDown clicked"><i class="fa fa-arrow-down"></i></span>
                        <% } %>
                        <% var favExists = false;%>
                        <% for (var j = 0; j < posts[0].fav.length; j++) { %>
                            <% if(currentUser && posts[0].fav[j].equals(currentUser._id)){%>
                                <% favExists = true;%>
                            <% } %>
                        <% } %>
                        <% if (favExists) { -%>
                          <span data-toggle="tooltip" data-placement="bottom" title="Usuń z ulubionych" class="ikony fav clicked" id="<%= posts[0]._id%>"><i class="fa fa-diamond"></i></span>
                        <% } else { -%>
                          <span data-toggle="tooltip" data-placement="bottom" title="Dodaj do ulubionych" class="ikony fav" id="<%= posts[0]._id%>"><i class="fa fa-diamond"></i></span>
                        <% } -%>

                        

                        <span data-toggle="tooltip" data-placement="bottom" title="Podziel się na facebooku" class="ikony"><a id="<%= posts[0]._id%>" href="#" target="_blank" class="fb"><i class="fa fa-facebook-square"></i></a></span>
                    <span data-toggle="tooltip" data-placement="bottom" title="Podziel się na twitterze" class="ikony"><a id="<%= posts[0]._id%>" class="twitter-share-button twitter" href="#" target="_blank"><i class="fa fa-twitter"></i></a></span>

                        <% if(currentUser && (currentUser.isAdmin || posts[0].author.id.equals(currentUser._id))) { %>
                            <form action="/posts/<%= posts[0]._id%>?_method=DELETE" method="POST" id="delete" style="display: inline;">
                              <span class="ikony" id="<%= posts[0]._id%>"><a onclick="$('#delete').submit();"><i class="fa fa-trash"></i></a></span>
                            </form>
                            <span class="ikony"><a href="/posts/edit/<%= posts[0]._id%>"><i class="fa fa-edit"></i></a></span>
                        <% } %>


                      </div>
                    </div>
                </div>
              </div> 
           </div>
        </div>

        <% for(var i=1; i<posts.length; i++) { %>
          <div class="col-lg-4 col-md-6 col-sm-12 card">
              <img class="card-img-top" src="<%= posts[i].image%>" id="smallpic">
                <div class="card-body">
                    <h3 class="card-title">
                      <span id="<%= posts[i]._id%>" class="punkty"><%= posts[i].points%></span>
                      <a href="/posts/details/<%= posts[i]._id%>"> <%= posts[i].title%> </a>
                    </h3>
                    
                    <p id="authorAndDate">
                      Dodano przez: <a href="/users/details/<%= posts[i].author.id%>/dodane"><%= posts[i].author.username%></a>
                      <span style="float: right;">
                        <%= (Math.round((Date.now() -  posts[i].date)/36e5))%> godzin temu
                      </span>
                    </p>
                    <p class="card-text"><%= posts[i].description.substring(0,150)%></p>

                  <div class="panel">
                    
                    <% var upExists = false;%>
                    <% var downExists = false;%>
                    <% for(var j=0;j<posts[i].upvoters.length;j++) { %>
                      <% if(currentUser && posts[i].upvoters[j].equals(currentUser._id)) { %>
                        <% upExists = true%>
                      <% } %>
                    <% } %>
                    <% for(var j=0;j<posts[i].downvoters.length;j++) { %>
                      <% if(currentUser && posts[i].downvoters[j].equals(currentUser._id)) { %>
                        <% downExists = true%>
                      <% } %>
                    <% } %>
                    <% if(upExists && !downExists) { %>
                      <span data-toggle="tooltip" data-placement="bottom" title="Polecam" id="<%= posts[i]._id%>" class="ikony voteUp clicked"><i class="fa fa-arrow-up"></i></span>
                          <span data-toggle="tooltip" data-placement="bottom" title="Słabe" id="<%= posts[i]._id%>" class="ikony voteDown"><i class="fa fa-arrow-down"></i></span>
                        <% } else if(!upExists && !downExists) { %>
                          <span data-toggle="tooltip" data-placement="bottom" title="Polecam" id="<%= posts[i]._id%>" class="ikony voteUp"><i class="fa fa-arrow-up"></i></span>
                          <span data-toggle="tooltip" data-placement="bottom" title="Słabe" id="<%= posts[i]._id%>" class="ikony voteDown"><i class="fa fa-arrow-down"></i></span>
                        <% } else if(!upExists && downExists) { %>
                          <span data-toggle="tooltip" data-placement="bottom" title="Polecam" id="<%= posts[i]._id%>" class="ikony voteUp"><i class="fa fa-arrow-up"></i></span>
                          <span data-toggle="tooltip" data-placement="bottom" title="Słabe" id="<%= posts[i]._id%>" class="ikony voteDown clicked"><i class="fa fa-arrow-down"></i></span>
                        <% } %>
                        <% var favExists = false;%>
                        <% for (var j = 0; j < posts[i].fav.length; j++) { %>
                            <% if(currentUser && posts[i].fav[j].equals(currentUser._id)){%>
                                <% favExists = true;%>
                            <% } %>
                        <% } %>
                        <% if (favExists) { -%>
                          <span data-toggle="tooltip" data-placement="bottom" title="Usuń z ulubionych" class="ikony fav clicked" id="<%= posts[i]._id%>"><i class="fa fa-diamond"></i></span>
                        <% } else { -%>
                          <span data-toggle="tooltip" data-placement="bottom" title="Dodaj do ulubionych" class="ikony fav" id="<%= posts[i]._id%>"><i class="fa fa-diamond"></i></span>
                        <% } -%>

                        

                        <span data-toggle="tooltip" data-placement="bottom" title="Podziel się na facebooku" class="ikony"><a id="<%= posts[i]._id%>" href="#" target="_blank" class="fb"><i class="fa fa-facebook-square"></i></a></span>
                    <span data-toggle="tooltip" data-placement="bottom" title="Podziel się na twitterze" class="ikony"><a id="<%= posts[i]._id%>" class="twitter-share-button twitter" href="#" target="_blank"><i class="fa fa-twitter"></i></a></span>

                  <% if(currentUser && (currentUser.isAdmin || posts[i].author.id.equals(currentUser._id))) { %>
                            <form action="/posts/<%= posts[i]._id%>?_method=DELETE" method="POST" id="delete" style="display: inline;">
                              <span class="ikony" id="<%= posts[i]._id%>"><a onclick="$('#delete').submit();"><i class="fa fa-trash"></i></a></span>
                            </form>
                            <span class="ikony"><a href="/posts/edit/<%= posts[i]._id%>"><i class="fa fa-edit"></i></a></span>
                        <% } %>


                  </div>
                </div>
              <div>
                        
                
                
              </div>
          </div>
        <% } %>

      <% } %>

  </div>

  <div>
    <h3 id="wiecej"><a href="/posts/eksploracja/alltime/1">Więcej</a></h3>
  </div>

 
</div>

<script type="text/javascript" src="/js/buttons.js"></script>

<% include ./partials/footer %>