<% include ../partials/header%>
<link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/new2.css">

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
	<div class="container">
	  <a class="navbar-brand" href="/">LOGO</a>
	  </div>
	</div>
</nav>

<div class="container" id="mainContainer">

	<div class="row">
		<div class="col-sm-12">
			<h2>Wybierz zdjęcie oraz dodaj tytuł i opis swojego znaleziska z internetu.</h2>
		</div>
		<div class="col-md-4 col-sm-12">
			<img src="<%= post.image%>" id="img">
			<input class="form-control" type="text" name="currImage" id="imageInput" value="<%= post.image%>">
			<button id="changeImage" class="btn btn-warning btn-block">Zmień</button>
		</div>
		<div class="col-md-8 col-sm-12">
			<form method="POST" action="/posts/edit/<%= post._id%>?_method=PUT">
				<input type="text" name="link" value="<%= post.link%>" style="display: none;">
				<input type="text" id="imagee" name="image" value="<%= post.image%>" style="display: none;">
				<div class="form-group">
					<textarea class="form-control" type="text" name="title" required="true" placeholder="Tutaj wpisz tytul znaleziska z internetu" maxlength="150"><%= post.title%></textarea>
				</div>
				<div class="form-group">
					<textarea class="form-control" type="text" name="description" required="true" placeholder="Opisz w kilku zdaniach czego dotyczy Twoje znalezisko" maxlength="470" ><%= post.description%></textarea>
				</div>
				<div class="form-group">
					<select class="form-control" name="category">
						<option value="blogi">Blogi</option>
						<option value="Wydarzenia">Wydarzenia</option>
						<option value="filmy">Filmy</option>
						<option value="ksiazki">Książki</option>
						<option value="komentarze">Komentarze</option>
					</select>
				</div>
				<div class="form-group">
					<input class="btn btn-lg btn-primary btn-block" type="submit" value="Zmień">
				</div>
					
			</form>
		</div>
	</div>
	
</div>

</body>

<script type="text/javascript">
	$("#changeImage").click(() => {
		$("#img").attr("src", $("#imageInput").val());
		$("#imagee").val($("#imageInput").val());
	});
</script>

<% include ../partials/footer%>